.link--certifiedInfoLink {
    font-size: .875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    background: #e31c58;
    text-decoration: none;
    padding: 0.875rem 1.5rem;
    border-radius: 0.25rem;
  }
  